/* Button styles */
button {
    padding: 10px 20px;
    font-size: 1rem;
    border: none;
    border-radius: 5px;
    color: #fff;
    background-color: #007bff;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  button:hover {
    background-color: #0056b3;
  }
  
  /* Form container */
  form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px; /* Space between elements */
    margin-top: 20px;
  }
  
  /* Input styles */
  input {
    padding: 10px;
    font-size: 1rem;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 100%;
    max-width: 300px; /* Limiting the width of input fields */
  }
  
  input::placeholder {
    color: #888;
  }
  
  /* Specific styles for SignIn and SignInWithEmail components */
  .signin-container,
  .signin-with-email-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #ffffff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin: 20px;
  }
  
  .signin-container h2,
  .signin-with-email-container h2 {
    margin-bottom: 20px;
    font-size: 1.5rem;
    color: #333;
  }
  